<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/profile.png">
        <h2>Ricardas Vaitkus</h2>
        <p>June 23, 1984</p>
      </div>
    
      <div class="item item-body">
        <p>
          Hi! I am an experienced front-end developer. For long time have been working on enterprise apps development front-end part.  
          Back in days mostly used jQuery and jQuery UI to create nice looking usable UI. 
          Later I have found out about Single Page Applications (SPA) and loved that form first sight :) 
          Played around with Knockout.js for few weeks but then AngularJS came into my world and I found it as revolutionary framework. <br/>
          Why mobile apps? Because I was excited about smartphones since first touched it, but as front-end developer I was unable to jump into apps development as fast as I would wanted because I had not good Objective-C or Java skills. 
          And here comes PhoneGap, enabling to build mobile apps using HTML5 CSS and JavaScript, and it can be cross platform.<br />
          You can find some sample features I can easy implement on Features page.<br />
          If you like what I do, please contact me.<br />
          I am working FAST<br />
          My products perform SMOOTH<br />
          And I am developing it in CREATIVE way.  
        </p>
      </div>
    
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/app/contacts">
          <i class="icon ion-email"></i>
          Contact
        </a>
        <a class="tab-item" href="#/app/features">
          <i class="icon ion-android-book"></i>
          Features
        </a>
      </div>
    
    </div>
    
    <div class="card">
      <div class="item item-divider">
        Used framworks and libraries
      </div>
      <div class="item item-text-wrap">
        This sample application is build following best practices of hybrid apps development using Cordova (a.k.a. PhoneGap) tool:
        <ul class="custom-ul">
          <li>AngularJS framework:</li>
          <ul>
            <li>SPA - Single Page Application</li>
            <li>Templates</li>
            <li>Structured MV* architecture</li>
            <li>Routing</li>
          </ul>
          <li>Hidden HTMLish behavior</li>
          <li>Architect for Performance:</li>
          <ul>
            <li>Don't generate UI on the server</li>
            <li>Don't wait for data to display the UI</li>
            <li>Cache everything (data, selectors, precompiled templates, ...)</li>
            <li>Use Hardware acceleration</li>
            <li>Avoid click event's 300ms delay</li>
            <li>Use CSS sprite sheets</li>
            <li>Limit shadows and gradients</li>
            <li>Avoid reflows</li>
            <li>Test</li>
          </ul>
        </ul>
        Ionic framwork is used as as main framework and it implements AngularJS and all of other best practices in the list. 
        Added few custom directives to implement some functionality and custom UI.   
      </div>
    </div>
    <div style="height: 30px">&nbsp;</div>
  </ion-content>
</ion-view>
